.desktop {
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #222222;
    overflow: hidden;
    width: 1366px;
    height: 6429px;
    position: relative;
}

.desktop .overlap {
    position: absolute;
    width: 1366px;
    height: 119px;
    top: 0;
    left: -1px;
    background-color: #0e0e0e;
}

.desktop .rectangle {
    position: absolute;
    width: 119px;
    height: 119px;
    top: 0;
    left: 624px;
    object-fit: cover;
}

.desktop .skill-icons {
    position: absolute;
    width: 82px;
    height: 82px;
    top: 19px;
    left: 1241px;
}

/* .desktop .group {
    position: absolute;
    width: 48px;
    height: 49px;
    top: 35px;
    left: 1016px;
}

.desktop .ellipse {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 12px;
    background-color: #d9d9d9;
    border-radius: 12.26px;
}

.desktop .img {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 0px;
    left: 3px;
}

.desktop .group-2 {
    position: absolute;
    width: 55px;
    height: 38px;
    top: 41px;
    left: 39px;
}

.desktop .rectangle-2 {
    position: absolute;
    width: 55px;
    height: 6px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.desktop .rectangle-3 {
    position: absolute;
    width: 55px;
    height: 6px;
    top: 32px;
    left: 0;
    background-color: #ffffff;
}

.desktop .rectangle-4 {
    position: absolute;
    width: 55px;
    height: 6px;
    top: 16px;
    left: 0;
    background-color: #ffffff;
}

.desktop .solar-cart-line {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 27px;
    left: 899px;
}

.desktop .component {
    position: absolute;
    width: 260px;
    height: 55px;
    top: 32px;
    left: 169px;
    background-color: #a9a9a9;
    border-radius: 10px;
}

.desktop .text-wrapper {
    position: absolute;
    top: 12px;
    left: 20px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 24.6px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .ic-twotone-search {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 5px;
    left: 207px;
}

.desktop .div-wrapper {
    position: absolute;
    width: 110px;
    height: 44px;
    top: 38px;
    left: 1098px;
}

.desktop .text-wrapper-2 {
    top: -1px;
    left: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    line-height: normal;
    position: absolute;
    letter-spacing: 0;
} */

.desktop .rectangle-5 {
    position: absolute;
    width: 1167px;
    height: 519px;
    top: 150px;
    left: 100px;
    object-fit: cover;
}

.desktop .rectangle-6 {
    position: absolute;
    width: 1167px;
    height: 519px;
    top: 641px;
    left: -1738px;
    background-color: #d9d9d9;
    border-radius: 10px;
}

.desktop .overlap-group {
    position: absolute;
    width: 1174px;
    height: 67px;
    top: 855px;
    left: 98px;
}

.desktop .rectangle-7 {
    position: absolute;
    width: 1170px;
    height: 67px;
    top: 0;
    left: 0;
    background-color: #d9d9d980;
    border-radius: 45.4px;
}

.desktop .overlap-wrapper {
    position: absolute;
    width: 175px;
    height: 67px;
    top: 0;
    left: 999px;
}

.desktop .overlap-2 {
    position: relative;
    width: 173px;
    height: 67px;
    background-color: #d9d9d9;
    border-radius: 45.4px;
}

.desktop .text-wrapper-3 {
    top: 13px;
    left: 19px;
    font-family: "Onest", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 32.7px;
    line-height: normal;
    position: absolute;
    letter-spacing: 0;
}

.desktop .overlap-group-wrapper {
    position: absolute;
    width: 175px;
    height: 67px;
    top: 0;
    left: 749px;
}

.desktop .text-wrapper-4 {
    top: 12px;
    left: 37px;
    font-family: "Onest", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 32.7px;
    line-height: normal;
    position: absolute;
    letter-spacing: 0;
}

.desktop .group-3 {
    position: absolute;
    width: 175px;
    height: 67px;
    top: 0;
    left: 510px;
}

.desktop .text-wrapper-5 {
    top: 12px;
    left: 16px;
    font-family: "Onest", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 32.7px;
    line-height: normal;
    position: absolute;
    letter-spacing: 0;
}

.desktop .group-4 {
    position: absolute;
    width: 175px;
    height: 67px;
    top: 0;
    left: 250px;
}

.desktop .text-wrapper-6 {
    top: 13px;
    left: 33px;
    font-family: "Onest", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 32.7px;
    line-height: normal;
    position: absolute;
    letter-spacing: 0;
}

.desktop .group-5 {
    position: absolute;
    width: 175px;
    height: 67px;
    top: 0;
    left: 0;
}

.desktop .overlap-3 {
    position: relative;
    width: 173px;
    height: 67px;
    background-color: #000000;
    border-radius: 45.4px;
}

.desktop .text-wrapper-7 {
    top: 12px;
    left: 21px;
    font-family: "Onest", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 32.7px;
    line-height: normal;
    position: absolute;
    letter-spacing: 0;
}

.desktop .text-wrapper-8 {
    top: 949px;
    left: 466px;
    -webkit-text-stroke: 2px #000000;
    font-family: "Onest", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 96px;
    line-height: 122.4px;
    white-space: nowrap;
    position: absolute;
    letter-spacing: 0;
}

.desktop .frame {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    gap: 13px;
    padding: 0px 0px 35px;
    position: absolute;
    top: 1121px;
    left: 113px;
    background-color: #343434;
    border-radius: 30px;
    overflow: hidden;
}

.desktop .IMG {
    position: relative;
    width: 500px;
    height: 463px;
}

.desktop .text-wrapper-9 {
    position: relative;
    align-self: stretch;
    font-family: "Onest", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 47.8px;
    text-align: center;
    letter-spacing: 0;
    line-height: 65.2px;
}

.desktop .frame-2 {
    width: 396px;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.desktop .group-6 {
    position: relative;
    width: 240px;
    height: 60px;
}

.desktop .overlap-group-2 {
    position: relative;
    width: 238px;
    height: 60px;
    background-color: #010101;
    border-radius: 15px;
}

.desktop .text-wrapper-10 {
    position: absolute;
    top: 2px;
    left: 50px;
    font-family: "Nunito-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 54.6px;
    white-space: nowrap;
}

.desktop .ic-baseline-plus-wrapper {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #feeb05;
    border-radius: 30px;
}

.desktop .ic-baseline-plus {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 7px;
    left: 7px;
}

.desktop .frame-3 {
    flex-direction: column;
    width: 500px;
    gap: 13px;
    padding: 0px 0px 35px;
    position: absolute;
    top: 1121px;
    left: 713px;
    background-color: #343434;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

@font-face {
    font-family: 'Onest';
    src: url('C:/Users/volch/Downloads/ofont.ru_Onest.ttf') format('truetype');
  }
  
  .text-wrapper-3, .text-wrapper-4, .text-wrapper-5, .text-wrapper-6, .text-wrapper-7, .text-wrapper-8, .text-wrapper-9 {
    font-family: 'Onest', sans-serif;
  }
  

  .header {
    position: fixed;
    width: 100vw;
    height: 119px;
    top: 0;
    left: -1px;
    background-color: #0e0e0e;
    z-index: 1000;
  }
.header .rectangle {
    position: absolute;
    width: 119px;
    height: 119px;
    top: 0;
    left: 624px;
    object-fit: cover;
}
.header .overlap {
    position: absolute;
    width: 1366px;
    height: 119px;
    top: 0;
    left: -1px;
    background-color: #0e0e0e;
    position: center;
}
.header .skill-icons {
    position: absolute;
    width:75px;
    height: 75px;
    top: 19px;
    left: 1241px;
}
.header .group {
    position: absolute;
    width: 48px;
    height: 49px;
    top: 35px;
    left: 1016px;
}

.header .ellipse {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 12px;
    background-color: #d9d9d9;
    border-radius: 12.26px;
}

.header .img {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 0px;
    left: 3px;
}

.header .menu {
    position: absolute;
    width: 55px;
    height: 38px;
    top: 41px;
    left: 39px;
}

.header .rectangle-2 {
    position: absolute;
    width: 55px;
    height: 6px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.header .rectangle-3 {
    position: absolute;
    width: 55px;
    height: 6px;
    top: 32px;
    left: 0;
    background-color: #ffffff;
}

.header .rectangle-4 {
    position: absolute;
    width: 55px;
    height: 6px;
    top: 16px;
    left: 0;
    background-color: #ffffff;
}

.header .solar-cart-line {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 27px;
    left: 899px;
}

.header .component input[type="text"]{
    padding-left: 20px;
    position: absolute;
    width: 240px;
    height: 55px;
    top: 32px;
    left: 169px;
    background-color: #a9a9a9;
    border-radius: 10px;
    font-size: 24px;
    text-transform: capitalize; 
}
.component input[type="text"]::placeholder {
    font-size: 24px; /* увеличить размер шрифта */
    color: #545454; /* изменить цвет текста */
    position: absolute;
  }


.header .searchimg {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 40px;
    left: 380px;
}

.header .div-wrapper {
    position: absolute;
    width: 110px;
    height: 44px;
    top: 38px;
    left: 1098px;
}

.header .text-wrapper-2 {
    top: -1px;
    left: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
    line-height: normal;
    position: absolute;
    letter-spacing: 0;
}
